.blogs {
  padding: 4rem 16rem;
}

.blog {
  padding: 1rem 3rem;
  border: 1px solid #339af0;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.question {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.ans {
  font-size: 1.6rem;
  line-height: 1.6;
}

@media (max-width: 68.75em) {
  .blogs {
    padding: 4rem 8rem;
  }
}

@media (max-width: 56.25em) {
  .blogs {
    padding: 4rem 4rem;
  }
}

@media (max-width: 37.5em) {
  .blogs {
    padding: 4rem 1.6rem;
  }
}
