.section-featured {
  padding: 4.8rem 14rem 3.2rem 14rem;
  background-color: #f2f5f8;
  margin-bottom: 7.6rem;
}

.heading-featured-in {
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: rgb(81, 81, 81);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 10rem;
  filter: brightness(0);
  opacity: 50%;
}
