/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: 'Aladin', cursive; */
  font-family: 'Poppins', sans-serif;
}

.heading-primary,
.heading-secondary {
  letter-spacing: -0.5px;
  color: #333;
}

.bold {
  font-weight: 600;
}

.heading-primary {
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1.05;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  padding-top: 2rem;
  margin-bottom: 5.6rem;
  text-align: center;
}

.Toastify__toast-body {
  font-size: 16px;
}

.center {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.link:visited,
.link:link {
  display: inline-block;
  margin-top: 4rem;
  font-size: 1.8rem;
  color: #1b98f5;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  border-bottom: 1px solid transparent;
}
